
/*Esercizio 1*/
.ex-1-square:hover{
    background-color: red;
}


/*Esercizio 2*/
.ex-2-square:active {
    width: 100%;
}


/*Esercizio 3*/
.ex-3-square:hover{
    border-radius: 50px;
}

/*Esercizio 4*/
.ex-4-square:hover{
  background: none;
}

/*Esercizio 5*/
.ex-5-square:hover{
    margin: 0;
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    margin: 20px;
    width: 20px;
    height: 20px;
}


/*Esercizio 6*/
.ex-6-img{
    transition: all 0.5s;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

/*Esercizio 7 da fare alla fine  */


/*Esercizio 8*/
.ex-8-img{
    transition: all 0.8s;
}

.ex-8-img:hover{
    filter: blur(1px) grayscale(1);
    border-radius: 30px;
}


/*Esercizio 9*/
.ex-9-img{
    transition: all 0.8s;
}

.ex-9-img:hover{
    margin: 50px 100px;
    filter: blur(1px) grayscale(1);
    border-radius: 30px;
    width: 300px;
}
 

/*Esercizio 10*/

.ex-10-icon{
    -webkit-animation-name: spin ;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin ;
    -moz-animation-duration: 1ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin ;
    -ms-animation-duration: 1ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
}


@keyframes spin {
    
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
    
    
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
    
}